body {
	font-size: large;
	font-family: "Times New Roman", Times, serif;
	color: #000;
	background-color: #F2F2F2;
}

table {
	width: 500px;
	border-collage: collapse;
	table-layout: fixed;
}

#fullpage {
	margin: 100px;
}

.feedback_col{
	texte-align: center;
	vertical-align: middle;
	color: LightGray:
	font-size: small;
}

.input_col{
	text-align: left;
}

.label_col{
	text-align: right;
}

td{
	vertical-align: top;
	word-wrap: break-word;
	padding: 5px;
}